# Get Stock Price Data

In this notebook, we use `yfinance` to download historical daily price data from Yahoo! finance. We only download the price data for BANG stocks (Blackberry, AMC, Nokia, Gamestop) because those stocks are the main focus of our project.

Alternatively, the link below works as well

https://finance.yahoo.com/quote/GME/history?period1=1609459200&period2=1626220800&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

In [ ]:
import pandas as pd
import yfinance as yf
from datetime import date, timedelta

In [ ]:
#stock_of_interest = 'BB' or 'AMC' or 'NOK' or 'GME'
stock_of_interest = 'GME'

In [ ]:
#to get data from january to june

df = yf.download(stock_of_interest, 
                      start='2021-01-01', 
                      end='2021-06-30', 
                      progress=False)
df.to_csv(stock_of_interest + '.csv')
df.head()

                 Open       High    Low      Close  Adj Close    Volume
Date
2021-01-04  19.000000  19.100000  17.15  17.250000  17.250000  10022500
2021-01-05  17.350000  18.080000  17.23  17.370001  17.370001   4961500
2021-01-06  17.340000  18.980000  17.33  18.360001  18.360001   6056200
2021-01-07  18.469999  19.450001  18.02  18.080000  18.080000   6129300
2021-01-08  18.180000  18.299999  17.08  17.690001  17.690001   6482000

In [ ]:
#to get data for one day

today = date.today()

df = yf.download(stock_of_interest, 
                      start=str(today - timedelta(days = 1)), 
                      #start=str(today - timedelta(days = 2)), 
                      end=str(today), 
                      progress=False)
df.to_csv(stock_of_interest + '.csv')
df.head()

             Open        High         Low       Close   Adj Close   Volume
Date
2021-08-02  162.0  163.589996  155.059998  157.649994  157.649994  2528200

In [ ]:
price_change = ((df['Close'] - df['Open']) / df['Open'])[0]
print(price_change)

-0.026851889527874227